In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sea
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [43]:
df=pd.read_csv("seattle-weather.csv")
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [44]:
df.shape

(1461, 6)

In [45]:
df["weather"].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [46]:
x=df.iloc[:,:-1]
x

            date  precipitation  temp_max  temp_min  wind
0     2012-01-01            0.0      12.8       5.0   4.7
1     2012-01-02           10.9      10.6       2.8   4.5
2     2012-01-03            0.8      11.7       7.2   2.3
3     2012-01-04           20.3      12.2       5.6   4.7
4     2012-01-05            1.3       8.9       2.8   6.1
...          ...            ...       ...       ...   ...
1456  2015-12-27            8.6       4.4       1.7   2.9
1457  2015-12-28            1.5       5.0       1.7   1.3
1458  2015-12-29            0.0       7.2       0.6   2.6
1459  2015-12-30            0.0       5.6      -1.0   3.4
1460  2015-12-31            0.0       5.6      -2.1   3.5

[1461 rows x 5 columns]

In [47]:
x['date'] = pd.to_datetime(x['date'])
x['year'] = x['date'].dt.year
x['month'] = x['date'].dt.month
x['day'] = x['date'].dt.day
x.drop('date', axis=1, inplace=True)
x

      precipitation  temp_max  temp_min  wind  year  month  day
0               0.0      12.8       5.0   4.7  2012      1    1
1              10.9      10.6       2.8   4.5  2012      1    2
2               0.8      11.7       7.2   2.3  2012      1    3
3              20.3      12.2       5.6   4.7  2012      1    4
4               1.3       8.9       2.8   6.1  2012      1    5
...             ...       ...       ...   ...   ...    ...  ...
1456            8.6       4.4       1.7   2.9  2015     12   27
1457            1.5       5.0       1.7   1.3  2015     12   28
1458            0.0       7.2       0.6   2.6  2015     12   29
1459            0.0       5.6      -1.0   3.4  2015     12   30
1460            0.0       5.6      -2.1   3.5  2015     12   31

[1461 rows x 7 columns]

In [48]:
y=df.iloc[:,-1]
y

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

In [49]:
from sklearn.preprocessing import LabelEncoder

In [50]:
# l=LabelEncoder()
# y=l.fit_transform(y)
# y

In [51]:
replacement_dict = {
    'rain': 1,
    'sun': 2,
    'fog': 3,
    'drizzle': 4,
    'snow': 5
}

# Replace values in the Series using the dictionary
y = y.replace(replacement_dict)
y

0       4
1       1
2       1
3       1
4       1
       ..
1456    1
1457    1
1458    3
1459    2
1460    2
Name: weather, Length: 1461, dtype: int64

In [52]:
# states=pd.get_dummies(y,drop_first=True)
# y=pd.concat([y,states],axis=1)
# y=y.drop('weather',axis=1)
# y

In [53]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=111)

In [54]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt_model=dt.fit(x_train,y_train)

In [55]:
result=dt_model.predict(x_test)
result

array([2, 3, 3, 1, 2, 1, 2, 2, 2, 1, 1, 1, 3, 2, 1, 2, 2, 2, 1, 1, 4, 2,
       2, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 4, 1, 1, 1,
       1, 1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 2, 1, 2, 1, 1, 4, 4, 3, 2, 1, 1,
       2, 2, 2, 1, 4, 1, 2, 1, 3, 1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1,
       2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 3, 1, 2, 2, 1, 3, 1,
       2, 2, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 1,
       1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 4, 1, 2, 3, 2, 1, 2, 1, 2, 2, 2, 1,
       2, 1, 2, 1, 1, 1, 3, 2, 2, 2, 2, 2, 5, 3, 2, 2, 2, 2, 3, 2, 2, 1,
       3, 1, 2, 1, 1, 2, 3, 2, 1, 3, 1, 1, 1, 1, 2, 4, 2, 1, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 5, 3, 5, 2, 3, 1, 2, 1, 4, 2, 1, 1, 1,
       1, 1, 2, 1, 1, 3, 2, 2, 1, 2, 4, 1, 1, 2, 2, 4, 2, 2, 1, 2, 2, 2,
       2, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 3, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 2, 2, 2, 3, 1, 1, 1, 2, 1, 3, 2, 1,
       2, 2, 1, 2, 1, 1, 1], dtype=int64)

In [56]:
replacement_dict = {
     1 : 'rain',
     2 : 'sun',
     3 : 'fog',
     4 : 'drizzle',
     5 : 'snow'
}

# Replace values in the Series using the dictionary
y = y.replace(replacement_dict)
y

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

In [57]:
result=dt_model.predict([[0.0,12.8,5.0,4.7,2012,1,1]])
result

C:\Users\SANJIDA\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([2], dtype=int64)

In [58]:
# Performance Metrics 

from sklearn.metrics import classification_report, accuracy_score

y_pred = dt_model.predict(x_test)

# Generate classification report
report = classification_report(y_test, y_pred)

In [59]:
print(report)

              precision    recall  f1-score   support

           1       0.92      0.92      0.92       131
           2       0.79      0.78      0.78       128
           3       0.24      0.22      0.23        23
           4       0.40      0.50      0.44         8
           5       0.00      0.00      0.00         3

    accuracy                           0.78       293
   macro avg       0.47      0.48      0.48       293
weighted avg       0.78      0.78      0.78       293

In [60]:
acc = accuracy_score(y_test, y_pred)
acc

0.7849829351535836

In [61]:
## SMOTE (Ovesampling)

from imblearn.over_sampling import SMOTE
from collections import Counter

In [62]:
y_train.value_counts()

2    512
1    510
3     78
4     45
5     23
Name: weather, dtype: int64

## Imbalance Handling (Oversampling)

In [63]:
# Apply SMOTE
sampling_strategy = {3: 500, 4: 500, 5: 500}  # Adjust the values as needed

# Apply SMOTE
oversampler = SMOTE(sampling_strategy=sampling_strategy)
X_resampled, y_resampled = oversampler.fit_resample(x_train, y_train)

print("Resampled class distribution:", Counter(y_resampled))

Resampled class distribution: Counter({2: 512, 1: 510, 3: 500, 5: 500, 4: 500})

In [64]:
y_resampled.value_counts()

2    512
1    510
3    500
5    500
4    500
Name: weather, dtype: int64

In [65]:
# decision tree imbalance handling 
from sklearn.tree import DecisionTreeClassifier 
dt=DecisionTreeClassifier(random_state = 42) 
dt_model=dt.fit(X_resampled,y_resampled)

In [66]:
# Performance Metrics 

from sklearn.metrics import classification_report, accuracy_score

y_pred = dt_model.predict(x_test)

# Generate classification report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.94      0.94      0.94       131
           2       0.82      0.76      0.79       128
           3       0.38      0.35      0.36        23
           4       0.17      0.38      0.23         8
           5       0.00      0.00      0.00         3

    accuracy                           0.79       293
   macro avg       0.46      0.48      0.46       293
weighted avg       0.81      0.79      0.80       293

In [67]:
acc = accuracy_score(y_test, y_pred)
acc

0.78839590443686

In [68]:
### Random Forest

In [69]:
# Without imbalance handling 

from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf_model=rf.fit(x_train,y_train)

# Performance Metrics 

from sklearn.metrics import classification_report, accuracy_score

y_pred = rf_model.predict(x_test)

# Generate classification report
report = classification_report(y_test, y_pred)
print(report)

acc = accuracy_score(y_test, y_pred)
acc

              precision    recall  f1-score   support

           1       0.95      0.94      0.94       131
           2       0.81      0.96      0.88       128
           3       1.00      0.26      0.41        23
           4       0.75      0.38      0.50         8
           5       0.00      0.00      0.00         3

    accuracy                           0.87       293
   macro avg       0.70      0.51      0.55       293
weighted avg       0.88      0.87      0.85       293

0.8703071672354948

In [70]:
# With imbalance handling 
rf=RandomForestClassifier()
rf_model=rf.fit(X_resampled,y_resampled)

# Performance Metrics 

from sklearn.metrics import classification_report, accuracy_score

y_pred = rf_model.predict(x_test)

# Generate classification report
report = classification_report(y_test, y_pred)
print(report)

acc = accuracy_score(y_test, y_pred)
acc

              precision    recall  f1-score   support

           1       0.95      0.92      0.94       131
           2       0.83      0.87      0.85       128
           3       0.67      0.35      0.46        23
           4       0.25      0.50      0.33         8
           5       0.20      0.33      0.25         3

    accuracy                           0.84       293
   macro avg       0.58      0.59      0.57       293
weighted avg       0.85      0.84      0.84       293

0.8361774744027304

In [71]:
# Without imbalance handling 

from sklearn.neighbors import KNeighborsClassifier  
kn= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
kn_model=rf.fit(x_train, y_train)

# Performance Metrics 

from sklearn.metrics import classification_report, accuracy_score

y_pred = rf_model.predict(x_test)

# Generate classification report
report = classification_report(y_test, y_pred)
print(report)

acc = accuracy_score(y_test, y_pred)
acc

              precision    recall  f1-score   support

           1       0.95      0.94      0.94       131
           2       0.80      0.95      0.87       128
           3       0.86      0.26      0.40        23
           4       0.67      0.25      0.36         8
           5       0.00      0.00      0.00         3

    accuracy                           0.86       293
   macro avg       0.65      0.48      0.52       293
weighted avg       0.86      0.86      0.84       293

0.863481228668942

In [72]:
# With imbalance handling 
kn=KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
kn_model=rf.fit(X_resampled,y_resampled)

# Performance Metrics 

from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score

y_pred = rf_model.predict(x_test)

# Generate classification report
report = classification_report(y_test, y_pred)
print(report)

acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred, average = 'weighted')
recall = recall_score(y_test, y_pred, average = 'weighted')
print(f"accuracy: {acc}, Precision: {prec}, recall: {recall}")

              precision    recall  f1-score   support

           1       0.96      0.91      0.93       131
           2       0.82      0.87      0.84       128
           3       0.57      0.35      0.43        23
           4       0.14      0.25      0.18         8
           5       0.20      0.33      0.25         3

    accuracy                           0.82       293
   macro avg       0.54      0.54      0.53       293
weighted avg       0.84      0.82      0.83       293

accuracy: 0.8225255972696246, Precision: 0.8364301858583354, recall: 0.8225255972696246

In [73]:
### XGBoost

In [74]:
# With imbalance handling 
import xgboost as xgb
xgb=xgb.XGBClassifier()
xgb_model=rf.fit(x_train,y_train)

# Performance Metrics 

from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score

y_pred = xgb_model.predict(x_test)

# Generate classification report
report = classification_report(y_test, y_pred)
print(report)

acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred, average = 'weighted')
recall = recall_score(y_test, y_pred, average = 'weighted')
print(f"accuracy: {acc}, Precision: {prec}, recall: {recall}")

              precision    recall  f1-score   support

           1       0.95      0.93      0.94       131
           2       0.78      0.97      0.87       128
           3       1.00      0.13      0.23        23
           4       0.67      0.25      0.36         8
           5       0.00      0.00      0.00         3

    accuracy                           0.86       293
   macro avg       0.68      0.46      0.48       293
weighted avg       0.87      0.86      0.83       293

accuracy: 0.856655290102389, Precision: 0.8656942134329862, recall: 0.856655290102389

In [75]:
# With imbalance handling 
import xgboost as xgb
xgb=xgb.XGBClassifier()
xgb_model=rf.fit(X_resampled,y_resampled)

# Performance Metrics 

from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score

y_pred = xgb_model.predict(x_test)

# Generate classification report
report = classification_report(y_test, y_pred)
print(report)

acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred, average = 'weighted')
recall = recall_score(y_test, y_pred, average = 'weighted')
print(f"accuracy: {acc}, Precision: {prec}, recall: {recall}")

              precision    recall  f1-score   support

           1       0.96      0.92      0.94       131
           2       0.83      0.86      0.85       128
           3       0.60      0.39      0.47        23
           4       0.18      0.38      0.24         8
           5       0.25      0.33      0.29         3

    accuracy                           0.83       293
   macro avg       0.56      0.58      0.56       293
weighted avg       0.85      0.83      0.84       293

accuracy: 0.8293515358361775, Precision: 0.8477420865957305, recall: 0.8293515358361775

In [81]:
data = {
    "precipitation": [0.0,10.9,0.0,0.0],
    "temp_max": [12.8,10.6,7.2,6.7],
    "temp_min": [5.0,2.8,0.6,-2.2],
    "wind": [4.7,4.5,2.6,1.4],
    "year" : [2012,2012,2015,2012],
    "month" : [1,1,12,1],
    "day" :[1,2,29,27]
}

df = pd.DataFrame(data)
# result=xgb_model.predict(df)
result=kn_model.predict(df)
# result=rf_model.predict(df)
length = len(result)
for i in range(length):
    x=result[i]
    if(x==1):
        print("rain")
    elif(x==2):
         print("sun")
    elif(x==3):
         print("fog")
    elif(x==4):
         print("drizzle")
    elif(x==5):
         print("snow")

sun
rain
fog
drizzle